// UI Color

// fonts
$black: #000;
$font1: #131313;
$font2: #454545;
$font3: #7d7d7d;

$point: #f60909;
$point2: #feb95a;

//  border


// background
$white: #fff;
$gray100: #e5e5e5;


// Main color 
$primary: #a9dfd8;
$primary2: #171821;