@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

body, html {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

body {
  position: relative;
}

@keyframes blink {
  0% {
    color: #fff;
  }
  50% {
    color: #ff6331;
  }
  100% {
    color: #fff;
  }
}
@keyframes arrow {
  0% {
    right: 0;
  }
  50% {
    right: calc(100% - 53px);
  }
  100% {
    right: 0;
  }
}
@keyframes bgMove {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(125%);
  }
}
@keyframes waveAni {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes waterDropAni {
  0% {
    transform: rotateZ(32deg) translate(0, -150%);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(32deg) translate(0, 200%);
    opacity: 0;
  }
}
@keyframes timeOver {
  0% {
    height: 50px;
  }
  100% {
    height: 0px;
  }
}
@keyframes systemDone {
  0% {
    transform: scale(0) translateX(-30%) rotateZ(100deg);
  }
  35% {
    transform: scale(1) translateX(-30%) rotateZ(100deg);
  }
  40% {
    transform: scale(1) translateX(-30%) rotateZ(100deg);
  }
  100% {
    transform: scale(1) translateX(-50%) rotateZ(0deg);
  }
}
@keyframes badgeShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text--sm {
  font-size: 16px;
}
.text--red {
  color: #f60909;
}
.text--orange {
  color: #feb95a;
}
.text--blue {
  color: #121eff;
}
.text--highlight {
  display: inline-block;
  box-shadow: inset 0 -28px 0 rgba(254, 185, 90, 0.5019607843);
}

.btn__start {
  width: 422px;
  height: 82px;
  margin-top: 176px;
  background-color: #454545;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.btn__start span {
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.btn__start1 {
  display: inline-flex;
  justify-content: center;
  max-width: 330px;
  width: 100%;
  height: 100%;
  min-height: 75px;
}
.btn__start1 span {
  position: relative;
  display: block;
  line-height: 1;
}
.btn__start1 span:before {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  right: 0;
  width: 53px;
  height: 30px;
  background: url(../images/quiz/ico_arrow.png) no-repeat;
  animation: arrow 1.5s infinite;
  background-size: cover;
}
.btn__wrap {
  font-weight: 400;
}
.btn__next {
  display: block;
  text-align: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 50px 32px;
}
.header a {
  display: block;
}
.header a img {
  display: block;
}
.header p {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-weight: 300;
}
.header p strong {
  font-size: 48px;
  font-weight: 800;
}

.contents {
  padding-bottom: 100px;
}
.contents .title {
  display: flex;
  align-items: center;
}
.contents .title p {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  background-color: #454545;
  color: #fff;
}
.contents .title p:first-child {
  justify-content: flex-end;
  padding-right: 100px;
}
.contents .title p:last-child {
  padding-left: 100px;
}

.intro {
  padding-top: 64px;
  text-align: center;
  line-height: 1.2;
}
.intro__wrap .title {
  margin-top: -58px;
}
.intro .text--sm {
  font-weight: 500;
  line-height: 19.36px;
}
.intro .text--sm strong {
  display: block;
  font-weight: 700;
}
.intro .text--sm + p {
  padding-top: 30px;
  line-height: 52px;
}
.intro .btn__start span {
  animation: blink 1.5s infinite;
}
.intro__tool {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.intro__tool img {
  display: block;
  width: 320px;
}
.intro__desc {
  position: relative;
  margin-top: -20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.05px;
}
.intro__desc:before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 2px;
  background-color: #87888c;
}
.intro__desc:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 2px;
  background-color: #87888c;
}
.intro__desc .text--blue {
  font-weight: 700;
}

.game--rule {
  padding-top: 117px;
  text-align: center;
  line-height: 52px;
}
.game--rule h2,
.game--rule strong {
  color: #454545;
}
.game--rule h2 {
  padding-bottom: 55px;
}
.game--rule .btn__start2,
.game--rule strong {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

.content__guide {
  display: none;
  padding-top: 30px;
}
.content__guide .title {
  display: block;
  padding: 24px 50px;
  margin-bottom: 56px;
  background-color: #454545;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}
.content__guide .title p {
  display: block;
  padding: 0 !important;
}
.content__guide .title .text--orange {
  font-weight: 800;
}

.guide__wrap {
  padding: 0 21px;
}
.guide__wrap .btn__guide {
  text-align: center;
}
.guide__wrap h2 {
  padding-bottom: 40px;
  text-align: center;
}
.guide__wrap > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px 0;
  width: 100%;
}
.guide__wrap > ul li {
  flex: 0 0 calc(33.3333% - 21px);
}
.guide__wrap > ul li > img {
  display: block;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
}
.guide__wrap > ul p {
  margin-bottom: 7px;
  max-width: 330px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.25px;
}

.quiz {
  max-width: 800px;
  margin: 0 auto;
}
.quiz__wrap {
  line-height: 1.2;
}
.quiz__wrap .title {
  position: relative;
  margin-bottom: 143px;
}
.quiz__wrap .title.stop .wave_ani__wrap {
  animation-play-state: paused !important;
}
.quiz__wrap .title.stop .water_drop1,
.quiz__wrap .title.stop .water_drop2,
.quiz__wrap .title.stop .water_drop3 {
  display: none;
}
.quiz__wrap .title.done .time_over__ani {
  display: block;
}
.quiz__wrap .title.done .time_over__ani::after {
  display: block;
  animation: timeOver 0.7s ease-in-out forwards;
}
.quiz__wrap .title p {
  padding: 8px;
  font-size: 26px;
}
.quiz__wrap .title p:first-of-type {
  padding-right: 200px;
}
.quiz__wrap .title p:last-of-type {
  padding-left: 200px;
}
.quiz__wrap .title p:last-of-type .text--orange {
  padding-left: 20px;
}
.quiz__wrap .title .system_done {
  position: absolute;
  left: calc(50% + 420px);
  top: -50px;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  transform: scale(0) translateX(-50%) rotateZ(100deg);
  background: url("../images/quiz/img_systemdone.png") no-repeat left top/100%;
}
.quiz__wrap .title .system_done.active {
  display: block;
  animation: systemDone 0.55s cubic-bezier(0.48, 0.48, 0.98, 0.25) forwards;
}
.quiz__wrap .title .timer {
  font-size: 38px;
  text-align: center;
  font-optical-sizing: auto;
  transform: translateY(-100%);
}
.quiz__wrap .title .timer__wrap {
  position: absolute;
  left: calc((100% - 168px) / 2);
  bottom: -90px;
  width: 168px;
  height: 168px;
  line-height: 168px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #87888c;
  overflow: hidden;
}
.quiz__wrap .title .timer__wrap .wave_ani__wrap {
  width: 168px;
  height: 168px;
  background-color: #feb95a;
  animation: bgMove 98s linear forwards;
}
.quiz__wrap .title .timer__wrap .wave_ani__wrap .waves {
  transform: translateY(-300%);
}
.quiz__wrap .title .water_drop__ani {
  position: absolute;
  left: 50%;
  top: 268%;
  z-index: -1;
  display: flex;
  width: 80px;
  height: 80px;
  padding-left: 25px;
  overflow: hidden;
  transform: rotateZ(-32deg);
}
.quiz__wrap .title .water_drop__ani span {
  display: block;
  background: url("../images/quiz/img_water.png") no-repeat left top/100%;
  transform: rotateZ(32deg) translate(0, -110%);
}
.quiz__wrap .title .water_drop__ani .water_drop1 {
  width: 10px;
  height: 16.5px;
  animation: waterDropAni 1.5s ease-in-out infinite;
}
.quiz__wrap .title .water_drop__ani .water_drop2 {
  width: 15px;
  height: 22.5px;
  animation: waterDropAni 1.5s ease-in-out 0.5s infinite;
  margin-left: 3px;
}
.quiz__wrap .title .water_drop__ani .water_drop3 {
  width: 13px;
  height: 19.5px;
  animation: waterDropAni 1.5s ease-in-out 0.2s infinite;
  margin-left: 10px;
}
.quiz__wrap .title .time_over__ani {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 168px;
  height: 168px;
  overflow: hidden;
  z-index: 100;
}
.quiz__wrap .title .time_over__ani::after {
  content: "";
  width: 168px;
  height: 50px;
  display: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 118px;
}
.quiz__wrap .title .time_over__ani img {
  width: 100%;
}
.quiz .question {
  padding-bottom: 20px;
}
.quiz img {
  display: block;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.quiz .btn__wrap {
  padding-top: 40px;
  text-align: center;
}
.quiz .btn__wrap .btn {
  width: 157px;
  padding: 15px 0;
  background-color: #454545;
  line-height: 1;
  color: #fff;
  border-radius: 12px;
}
.quiz .num {
  font-weight: 300;
}
.quiz .num .count {
  font-weight: 700;
}

.popup {
  display: none;
  position: absolute;
  top: 310px;
  left: 50%;
  width: 1220px;
  min-height: 969px;
  transform: translateX(-50%);
  background: #FFF;
}
.popup.active {
  display: block;
}
.popup__inner {
  padding: 0 0px 65px;
  text-align: center;
  line-height: 1.2;
}
.popup__inner .msg {
  padding: 104px 0;
  font-size: 32px;
  font-weight: 400;
}
.popup__inner .msg strong {
  font-weight: 700;
}
.popup__title,
.popup .score__wrap {
  font-size: 100px;
  font-weight: 700;
  padding-bottom: 67px;
}
.popup .record__box {
  padding-top: 64px;
}
.popup .record__box > ul {
  padding: 56px 0px 72px 358px;
  background-color: rgba(254, 185, 90, 0.1019607843);
}
.popup .record__box li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  line-height: 1;
}
.popup .record__box li + li {
  padding-top: 20px;
}
.popup .record__box li .result {
  font-size: 32px;
}
.popup .record__box .player .fail {
  color: #E9501E;
}
.popup .record__box .graph {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 229px;
}
.popup .record__box .graph > * {
  flex-shrink: 0;
}
.popup .record__box .graph .bar {
  width: 0;
  max-width: 229px;
  height: 15px;
  border-radius: 100px;
  background-color: #121EFF;
  transition: width 1s ease !important;
}
.popup .record__box .graph__wrap {
  max-width: 300px;
}
.popup .record__box .qa {
  font-size: 42px;
  font-weight: 600;
}
.popup .record__box .qa .result {
  font-size: 42px;
}
.popup .record__box .qa .record__title {
  display: block;
  position: relative;
}
.popup .record__box .qa .record__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -74px;
  width: 52px;
  height: 52px;
  background: url(../images/quiz/img_badge.png) no-repeat;
  transform: translateY(-50%);
  background-size: cover;
  animation: badgeShow 1s linear;
}
.popup .record__box .qa .bar {
  background-color: #F60909;
}
.popup .record__box .average .bar {
  background-color: #7D7D7D;
}
.popup .record__title {
  width: 246px;
}
.popup .result {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.popup.fail .score__wrap {
  display: none;
}
.popup.fail .player .graph__wrap {
  display: none;
}
.popup.fail .msg.success, .popup.fail .msg.lose {
  display: none;
}
.popup.fail .img__fail {
  display: inline;
}
.popup.fail .img__success {
  display: none;
}
.popup.success .fail, .popup.lose .fail {
  display: none;
}
.popup.success .score__wrap, .popup.lose .score__wrap {
  display: block;
}
.popup.success .popup__title, .popup.lose .popup__title {
  display: none;
}
.popup.success .player .graph__wrap, .popup.lose .player .graph__wrap {
  display: block;
}
.popup.success .msg.fail, .popup.success .msg.lose, .popup.lose .msg.fail, .popup.lose .msg.lose {
  display: none;
}
.popup.success .msg.success, .popup.lose .msg.success {
  display: block;
}
.popup.success .img__fail, .popup.lose .img__fail {
  display: none;
  width: 6.9672131148vw;
}
.popup.success .img__success, .popup.lose .img__success {
  display: inline;
  width: 4.5901639344vw;
}
.popup.lose .msg.fail, .popup.lose .msg.success {
  display: none;
}
.popup.lose .msg.lose {
  display: block;
}
.popup .btn__next {
  margin-bottom: 143px;
  font-size: 32px;
  text-align: center;
}
.popup .img__success1,
.popup .img__success2,
.popup .img__success3 {
  display: none;
}
.popup .success1,
.popup .success2,
.popup .success3 {
  display: none;
}

.tip__wrap {
  padding-bottom: 26px;
  font-size: 16px;
  font-weight: 700;
}
.tip__wrap span {
  font-weight: 500;
}

.img__grade {
  width: 358px;
}

.quiz__wrap .title .timer__wrap .wave_ani__wrap use {
  width: 168px;
  height: 168px;
  animation: waveAni 3s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1220px) {
  @keyframes arrow {
    0% {
      right: 0;
    }
    50% {
      right: calc(100% - 4.3442622951vw);
    }
    100% {
      right: 0;
    }
  }
  body, html {
    font-size: 2.9508196721vw;
  }
  .text--highlight {
    display: inline-block;
    box-shadow: none;
  }
  .btn__start {
    width: 34.5901639344vw;
    height: 6.7213114754vw;
    border-radius: 0.9836065574vw;
    font-size: 1.4754098361vw;
  }
  .btn__start span {
    font-size: 2.6229508197vw;
  }
  .btn__start1 {
    max-width: 27.0491803279vw;
    min-height: 6.1475409836vw;
  }
  .btn__start1 span:before {
    top: 3.6885245902vw;
    width: 4.3442622951vw;
    height: 2.4590163934vw;
  }
  .header {
    padding: 2.4590163934vw 4.0983606557vw 2.5409836066vw;
  }
  .header a img {
    width: 32.7868852459vw;
  }
  .header p {
    gap: 0.6557377049vw;
  }
  .header p strong {
    font-size: 3.9344262295vw;
  }
  .contents {
    padding-bottom: 4.0983606557vw;
  }
  .contents .title p {
    padding: 1.1475409836vw 0vw;
    color: #fff;
  }
  .contents .title p:first-child {
    padding-right: 5.2459016393vw;
  }
  .contents .title p:last-child {
    padding-left: 5.2459016393vw;
  }
  .contents .title img {
    width: 16.393442623vw;
  }
  .intro {
    padding-top: 24.8360655738vw;
  }
  .intro > p {
    font-size: 3.4426229508vw;
    font-weight: 600;
  }
  .intro__wrap .title {
    margin-top: -5.4918032787vw;
  }
  .intro .btn__start {
    margin-top: 35.5737704918vw;
  }
  .game--rule {
    padding-top: 9.5901639344vw;
    line-height: 4.262295082vw;
  }
  .game--rule h2,
  .game--rule strong {
    color: #454545;
  }
  .game--rule h2 {
    padding-bottom: 2.4590163934vw;
    font-size: 2.6229508197vw;
  }
  .game--rule .btn__start1 {
    margin-top: 48.5245901639vw;
  }
  .content__guide {
    display: none;
    padding-top: 3.2786885246vw;
  }
  .content__guide h2 {
    padding-bottom: 7.2131147541vw;
    color: #454545;
    font-size: 2.6229508197vw;
    text-align: center;
  }
  .guide__wrap {
    padding: 0vw 1.5573770492vw;
  }
  .guide__wrap > ul {
    gap: 4.5081967213vw 0vw;
    width: 100%;
  }
  .guide__wrap > ul li {
    flex: 0 0 calc((100% - 1.8032786885vw) / 3);
  }
  .guide__wrap > ul li > img {
    display: block;
    width: 100%;
    box-shadow: none;
    border-radius: 0.3278688525vw;
  }
  .guide__wrap > ul p {
    margin-bottom: 0.9836065574vw;
    max-width: 27.0491803279vw;
    font-size: 2.131147541vw;
    font-weight: 400;
    letter-spacing: -0.1147540984vw;
  }
  .guide__wrap > ul p b {
    font-weight: 700;
  }
  .guide__wrap .btn__guide {
    padding-top: 10.3278688525vw;
    text-align: center;
  }
  .quiz {
    max-width: 65.5737704918vw;
  }
  .quiz p:first-child {
    font-size: 4.262295082vw;
  }
  .quiz__wrap {
    line-height: 1.2;
  }
  .quiz__wrap .title {
    margin-bottom: 15.4918032787vw;
  }
  .quiz__wrap .title.stop .wave_ani__wrap {
    animation-play-state: paused !important;
  }
  .quiz__wrap .title.stop .water_drop1,
  .quiz__wrap .title.stop .water_drop2,
  .quiz__wrap .title.stop .water_drop3 {
    display: none;
  }
  .quiz__wrap .title.done .time_over__ani {
    display: block;
  }
  .quiz__wrap .title.done .time_over__ani::after {
    display: block;
    animation: timeOver 0.7s ease-in-out forwards;
  }
  .quiz__wrap .title p {
    padding: 1.1475409836vw 0vw;
    font-size: 2.6229508197vw;
    line-height: 1;
  }
  .quiz__wrap .title p:first-of-type {
    padding-right: 12.2950819672vw;
  }
  .quiz__wrap .title p:last-of-type {
    padding-left: 12.2950819672vw;
  }
  .quiz__wrap .title .timer {
    font-size: 3.1147540984vw;
  }
  .quiz__wrap .title .timer__wrap {
    left: calc((100% - 13.7704918033vw) / 2);
    bottom: -7.3770491803vw;
    width: 13.7704918033vw;
    height: 13.7704918033vw;
    line-height: 13.7704918033vw;
    border: 0.1639344262vw solid #87888c;
  }
  .quiz__wrap .title .timer__wrap .wave_ani__wrap {
    width: 13.7704918033vw;
    height: 13.7704918033vw;
    background-color: #feb95a;
    animation: bgMove 32s linear forwards;
  }
  .quiz__wrap .title .timer__wrap .wave_ani__wrap .waves {
    transform: translateY(-300%);
  }
  .quiz__wrap .title .water_drop__ani {
    position: absolute;
    left: 50%;
    top: 225%;
    z-index: -1;
    display: flex;
    width: 6.5573770492vw;
    height: 6.5573770492vw;
    padding-left: 2.0491803279vw;
    overflow: hidden;
    transform: rotateZ(-32deg);
  }
  .quiz__wrap .title .water_drop__ani span {
    display: block;
    background: url("../images/quiz/img_water.png") no-repeat left top/100%;
    transform: rotateZ(32deg) translate(0, -110%);
  }
  .quiz__wrap .title .water_drop__ani .water_drop1 {
    width: 0.8196721311vw;
    height: 1.3524590164vw;
    animation: waterDropAni 1.5s ease-in-out infinite;
  }
  .quiz__wrap .title .water_drop__ani .water_drop2 {
    width: 1.2295081967vw;
    height: 1.8442622951vw;
    animation: waterDropAni 1.5s ease-in-out 0.5s infinite;
    margin-left: 0.2459016393vw;
  }
  .quiz__wrap .title .water_drop__ani .water_drop3 {
    width: 1.0655737705vw;
    height: 1.5983606557vw;
    animation: waterDropAni 1.5s ease-in-out 0.2s infinite;
    margin-left: 0.8196721311vw;
  }
  .quiz__wrap .title .time_over__ani {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 13.7704918033vw;
    height: 13.7704918033vw;
    overflow: hidden;
    z-index: 100;
  }
  .quiz__wrap .title .time_over__ani::after {
    content: "";
    width: 13.7704918033vw;
    height: 4.0983606557vw;
    display: none;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 9.6721311475vw;
  }
  .quiz__wrap .title .time_over__ani img {
    width: 100%;
  }
  .quiz .question {
    padding-bottom: 2.4590163934vw;
    font-size: 4.262295082vw;
    font-weight: 300;
  }
  .quiz img {
    width: 61.0655737705vw;
    border-radius: 0.3278688525vw;
  }
  .quiz .btn__wrap {
    display: flex;
    justify-content: center;
    gap: 6.7213114754vw;
    padding-top: 8.7704918033vw;
  }
  .quiz .btn__wrap .btn {
    width: 19.0983606557vw;
    padding: 2.0491803279vw 0;
    font-size: 2.6229508197vw;
    border-radius: 0.9836065574vw;
  }
  .popup {
    display: none;
    position: absolute;
    top: 25.4098360656vw;
    left: 50%;
    width: 100vw;
    min-height: 79.4262295082vw;
    transform: translateX(-50%);
    background: #FFF;
  }
  .popup.active {
    display: block;
  }
  .popup__inner {
    padding: 0vw 0vw 5.3278688525vw;
    text-align: center;
    line-height: 1.2;
  }
  .popup__inner .msg {
    padding: 8.5245901639vw 0vw;
    font-size: 2.6229508197vw;
    font-weight: 400;
  }
  .popup__inner .msg strong {
    font-weight: 700;
  }
  .popup__title,
  .popup .score__wrap {
    font-size: 8.1967213115vw;
    font-weight: 700;
    padding-bottom: 5.4918032787vw;
  }
  .popup .record__box {
    padding-top: 5.2459016393vw;
  }
  .popup .record__box > ul {
    padding: 4.5901639344vw 0vw 5.9016393443vw 29.3442622951vw;
    background-color: rgba(254, 185, 90, 0.1019607843);
  }
  .popup .record__box li {
    display: flex;
    align-items: center;
    gap: 1.3114754098vw;
    font-size: 2.6229508197vw;
    font-weight: 600;
    text-align: left;
    line-height: 1;
  }
  .popup .record__box li + li {
    padding-top: 1.6393442623vw;
  }
  .popup .record__box li .result {
    font-size: 2.6229508197vw;
  }
  .popup .record__box .player .fail {
    color: #E9501E;
  }
  .popup .record__box .graph {
    display: flex;
    align-items: center;
    gap: 1.3114754098vw;
    max-width: 18.7704918033vw;
  }
  .popup .record__box .graph .bar {
    width: 0;
    max-width: 18.7704918033vw;
    height: 1.2295081967vw;
    border-radius: 8.1967213115vw;
    background-color: #121EFF;
  }
  .popup .record__box .graph__wrap {
    max-width: 24.5901639344vw;
    width: 80%;
  }
  .popup .record__box .qa {
    font-size: 3.4426229508vw;
  }
  .popup .record__box .qa .result {
    font-size: 3.4426229508vw;
  }
  .popup .record__box .qa .record__title:before {
    left: -6.0655737705vw;
    width: 4.262295082vw;
    height: 4.262295082vw;
  }
  .popup .record__box .qa .bar {
    background-color: #F60909;
  }
  .popup .record__box .average .bar {
    max-width: 9.5901639344vw;
    flex-shrink: 0;
    background-color: #7D7D7D;
  }
  .popup .record__title {
    width: 20.1639344262vw;
  }
  .popup .result {
    display: inline-flex;
    align-items: center;
  }
  .popup.fail .score__wrap {
    display: none;
  }
  .popup.fail .player .graph__wrap {
    display: none;
  }
  .popup.fail .msg.success, .popup.fail .msg.lose {
    display: none;
  }
  .popup.fail .img__fail {
    display: inline;
  }
  .popup.fail .img__success {
    display: none;
  }
  .popup.success .fail, .popup.lose .fail {
    display: none;
  }
  .popup.success .score__wrap, .popup.lose .score__wrap {
    display: block;
  }
  .popup.success .popup__title, .popup.lose .popup__title {
    display: none;
  }
  .popup.success .player .graph__wrap, .popup.lose .player .graph__wrap {
    display: block;
  }
  .popup.success .msg.fail, .popup.success .msg.lose, .popup.lose .msg.fail, .popup.lose .msg.lose {
    display: none;
  }
  .popup.success .msg.success, .popup.lose .msg.success {
    display: block;
  }
  .popup.success .img__fail, .popup.lose .img__fail {
    display: none;
  }
  .popup.success .img__success, .popup.lose .img__success {
    display: inline;
  }
  .popup.lose .msg.fail, .popup.lose .msg.success {
    display: none;
  }
  .popup.lose .msg.lose {
    display: block;
  }
  .popup.lose .img__fail {
    display: inline-block;
  }
  .popup .btn__next {
    margin-bottom: 11.7213114754vw;
    font-size: 2.6229508197vw;
    text-align: center;
  }
  .popup .img__success1,
  .popup .img__success2,
  .popup .img__success3 {
    width: 13.1147540984vw;
  }
  .tip__wrap {
    padding-bottom: 2.4590163934vw;
    font-size: 2.131147541vw;
  }
  .img__grade {
    width: 29.3442622951vw;
  }
  .quiz__wrap .title .timer__wrap .wave_ani__wrap use {
    width: 13.7704918033vw;
    height: 13.7704918033vw;
    animation: waveAni 3s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    position: absolute;
    left: 0;
    top: 0;
  }
}/*# sourceMappingURL=quiz.css.map */