@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

body, html {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

body {
  position: relative;
}

@keyframes blink {
  0% {
    color: #fff;
  }
  50% {
    color: #ff6331;
  }
  100% {
    color: #fff;
  }
}
@keyframes arrow {
  0% {
    right: 0;
  }
  50% {
    right: calc(100% - 53px);
  }
  100% {
    right: 0;
  }
}
@keyframes bgMove {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(125%);
  }
}
@keyframes waveAni {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes waterDropAni {
  0% {
    transform: rotateZ(32deg) translate(0, -150%);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(32deg) translate(0, 200%);
    opacity: 0;
  }
}
@keyframes timeOver {
  0% {
    height: 50px;
  }
  100% {
    height: 0px;
  }
}
@keyframes systemDone {
  0% {
    transform: scale(0) translateX(-30%) rotateZ(100deg);
  }
  35% {
    transform: scale(1) translateX(-30%) rotateZ(100deg);
  }
  40% {
    transform: scale(1) translateX(-30%) rotateZ(100deg);
  }
  100% {
    transform: scale(1) translateX(-50%) rotateZ(0deg);
  }
}
.text--sm {
  font-size: 16px;
}
.text--red {
  color: #f60909;
}
.text--orange {
  color: #feb95a;
}
.text--blue {
  color: #121eff;
}
.text--highlight {
  display: inline-block;
  box-shadow: inset 0 -28px 0 rgba(254, 185, 90, 0.5019607843);
}

.btn__start {
  width: 422px;
  height: 82px;
  background-color: #454545;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.btn__start span {
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.btn__wrap {
  font-weight: 400;
}
.btn__next {
  display: block;
  text-align: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 50px 32px;
}
.header a {
  display: block;
}
.header a img {
  display: block;
}
.header p {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-weight: 300;
}
.header p strong {
  font-size: 48px;
  font-weight: 800;
}

.contents {
  padding-bottom: 100px;
}
.contents .title {
  display: flex;
  align-items: center;
}
.contents .title p {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  background-color: #454545;
  color: #fff;
}
.contents .title p:first-child {
  justify-content: flex-end;
  padding-right: 100px;
}
.contents .title p:last-child {
  padding-left: 100px;
}

.intro {
  padding-top: 64px;
  text-align: center;
  line-height: 1.2;
}
.intro__wrap .title {
  margin-top: -58px;
}
.intro .text--sm {
  font-weight: 500;
  line-height: 19.36px;
}
.intro .text--sm strong {
  display: block;
  font-weight: 700;
}
.intro .text--sm + p {
  padding-top: 30px;
  line-height: 52px;
}
.intro .btn__start span {
  animation: blink 1.5s infinite;
}
.intro__tool {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.intro__tool img {
  display: block;
  width: 320px;
}
.intro__desc {
  position: relative;
  margin-top: -20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.05px;
}
.intro__desc:before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 2px;
  background-color: #87888c;
}
.intro__desc:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 2px;
  background-color: #87888c;
}
.intro__desc .text--blue {
  font-weight: 700;
}

.game--rule {
  display: none;
  padding-top: 103px;
  text-align: center;
  line-height: 52px;
}
.game--rule h2,
.game--rule strong {
  color: #454545;
}
.game--rule h2 {
  padding-bottom: 55px;
}
.game--rule .btn__start2,
.game--rule strong {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

.content__guide {
  display: none;
}
.content__guide .title {
  display: block;
  padding: 24px 50px;
  margin-bottom: 56px;
  background-color: #454545;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}
.content__guide .title p {
  display: block;
  padding: 0 !important;
}
.content__guide .title .text--orange {
  font-weight: 800;
}

.guide__wrap {
  padding: 0 38px 0 50px;
}
.guide__wrap > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 12px;
  width: 100%;
}
.guide__wrap > ul li {
  flex: 0 0 calc(25% - 12px);
}
.guide__wrap > ul li > img {
  display: block;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
}
.guide__wrap > ul p {
  height: 38px;
  margin-bottom: 7px;
  max-width: 330px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
.guide__wrap .btn__start1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  width: 100%;
  height: 100%;
}
.guide__wrap .btn__start1 span {
  position: relative;
  display: block;
}
.guide__wrap .btn__start1 span:before {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  right: 0;
  width: 53px;
  height: 30px;
  background: url(../images/quiz/ico_arrow.png) 100% 0;
  animation: arrow 1.5s infinite;
}

.quiz {
  max-width: 600px;
  margin: 0 auto;
}
.quiz__wrap {
  line-height: 1.2;
}
.quiz__wrap .title {
  position: relative;
  margin-bottom: 143px;
}
.quiz__wrap .title.stop .wave_ani__wrap {
  animation-play-state: paused !important;
}
.quiz__wrap .title.stop .water_drop1,
.quiz__wrap .title.stop .water_drop2,
.quiz__wrap .title.stop .water_drop3 {
  display: none;
}
.quiz__wrap .title.done .time_over__ani {
  display: block;
}
.quiz__wrap .title.done .time_over__ani::after {
  display: block;
  animation: timeOver 0.7s ease-in-out forwards;
}
.quiz__wrap .title p {
  padding: 8px;
  font-size: 26px;
}
.quiz__wrap .title p:first-of-type {
  padding-right: 200px;
}
.quiz__wrap .title p:last-of-type {
  padding-left: 200px;
}
.quiz__wrap .title p:last-of-type .text--orange {
  padding-left: 20px;
}
.quiz__wrap .title .system_done {
  position: absolute;
  left: calc(50% + 420px);
  top: -50px;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  transform: scale(0) translateX(-50%) rotateZ(100deg);
  background: url("../images/quiz/img_systemdone.png") no-repeat left top/100%;
}
.quiz__wrap .title .system_done.active {
  display: block;
  animation: systemDone 0.55s cubic-bezier(0.48, 0.48, 0.98, 0.25) forwards;
}
.quiz__wrap .title .timer {
  font-size: 38px;
  text-align: center;
  font-optical-sizing: auto;
  transform: translateY(-100%);
}
.quiz__wrap .title .timer__wrap {
  position: absolute;
  left: calc((100% - 168px) / 2);
  bottom: -90px;
  width: 168px;
  height: 168px;
  line-height: 168px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #87888c;
  overflow: hidden;
}
.quiz__wrap .title .timer__wrap .wave_ani__wrap {
  width: 168px;
  height: 168px;
  background-color: #feb95a;
  animation: bgMove 32s linear forwards;
}
.quiz__wrap .title .timer__wrap .wave_ani__wrap .waves {
  transform: translateY(-300%);
}
.quiz__wrap .title .water_drop__ani {
  position: absolute;
  left: 50%;
  top: 268%;
  z-index: -1;
  display: flex;
  width: 80px;
  height: 80px;
  padding-left: 25px;
  overflow: hidden;
  transform: rotateZ(-32deg);
}
.quiz__wrap .title .water_drop__ani span {
  display: block;
  background: url("../images/quiz/img_water.png") no-repeat left top/100%;
  transform: rotateZ(32deg) translate(0, -110%);
}
.quiz__wrap .title .water_drop__ani .water_drop1 {
  width: 10px;
  height: 16.5px;
  animation: waterDropAni 1.5s ease-in-out infinite;
}
.quiz__wrap .title .water_drop__ani .water_drop2 {
  width: 15px;
  height: 22.5px;
  animation: waterDropAni 1.5s ease-in-out 0.5s infinite;
  margin-left: 3px;
}
.quiz__wrap .title .water_drop__ani .water_drop3 {
  width: 13px;
  height: 19.5px;
  animation: waterDropAni 1.5s ease-in-out 0.2s infinite;
  margin-left: 10px;
}
.quiz__wrap .title .time_over__ani {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 168px;
  height: 168px;
  overflow: hidden;
  z-index: 100;
}
.quiz__wrap .title .time_over__ani::after {
  content: "";
  width: 168px;
  height: 50px;
  display: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 118px;
}
.quiz__wrap .title .time_over__ani img {
  width: 100%;
}
.quiz .question {
  height: 97px;
  padding-bottom: 20px;
}
.quiz img {
  display: block;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.quiz .btn__wrap {
  padding-top: 40px;
  text-align: center;
}
.quiz .btn__wrap .btn {
  width: 157px;
  padding: 15px 0;
  background-color: #454545;
  line-height: 1;
  color: #fff;
  border-radius: 12px;
}
.quiz .num {
  font-weight: 300;
}
.quiz .num .count {
  font-weight: 700;
}

.popup {
  display: none;
  position: absolute;
  top: 300px;
  left: 50%;
  width: 600px;
  min-height: 507px;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9490196078);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.popup.active {
  display: block;
}
.popup__inner {
  padding: 50px 40px 30px;
  text-align: center;
  line-height: 1.2;
}
.popup__inner .msg {
  padding-bottom: 60px;
}
.popup.fail .popup__inner {
  padding-top: 83px;
}
.popup.fail .result {
  padding-bottom: 50px;
  font-size: 26px;
  font-weight: 400;
}
.popup.fail .result strong {
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.popup.fail .msg {
  padding-bottom: 80px;
  font-size: 26px;
}
.popup.success img, .popup.lose img {
  margin-bottom: 40px;
}
.popup.success .result, .popup.lose .result {
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.popup.success .result strong, .popup.lose .result strong {
  display: block;
  font-size: 42px;
  font-weight: 700;
}
.popup.success .score__wrap, .popup.lose .score__wrap {
  padding-bottom: 50px;
  font-size: 42px;
}
.popup.success .msg, .popup.lose .msg {
  padding-bottom: 70px;
  font-size: 28px;
}

.tip__wrap {
  padding-bottom: 26px;
  font-size: 16px;
  font-weight: 700;
}
.tip__wrap span {
  font-weight: 500;
}

.quiz__wrap .title .timer__wrap .wave_ani__wrap use {
  width: 168px;
  height: 168px;
  animation: waveAni 3s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  position: absolute;
  left: 0;
  top: 0;
}/*# sourceMappingURL=quiz.css.map */