@font-face {
  font-family: MalgunGothic;
  src: url(../fonts/MalgunGothic.eot);
}
* {
  font-family: "Malgun Gothic" !important;
}

body, html {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

body {
  position: relative;
}

@keyframes blink {
  0% {
    color: #fff;
  }
  50% {
    color: #ff6331;
  }
  100% {
    color: #fff;
  }
}
@keyframes arrow {
  0% {
    right: 0;
  }
  50% {
    right: calc(100% - 53px);
  }
  100% {
    right: 0;
  }
}
@keyframes bgMove {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(115%);
  }
}
@keyframes waveAni {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes waterDropAni {
  0% {
    transform: rotateZ(32deg) translate(0, -150%);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(32deg) translate(0, 200%);
    opacity: 0;
  }
}
.text--sm {
  font-size: 16px;
}
.text--red {
  color: #f60909;
}
.text--orange {
  color: #feb95a;
}
.text--blue {
  color: #121eff;
}

.btn__start {
  width: 422px;
  height: 82px;
  background-color: #454545;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.btn__start span {
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.btn__wrap {
  font-weight: 400;
}
.btn__next {
  display: block;
  text-align: right;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 50px 32px;
}
.header a {
  display: block;
}
.header a img {
  display: block;
}
.header p {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-weight: 300;
}
.header p strong {
  font-size: 48px;
  font-weight: 800;
}

.contents {
  padding-bottom: 100px;
}
.contents .title {
  display: flex;
  align-items: center;
}
.contents .title p {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  background-color: #454545;
  color: #fff;
}
.contents .title p:first-child {
  justify-content: flex-end;
  padding-right: 100px;
}
.contents .title p:last-child {
  padding-left: 100px;
}

.intro {
  padding-top: 140px;
  text-align: center;
}
.intro .text--sm {
  font-weight: 500;
  line-height: 19.36px;
}
.intro .text--sm strong {
  display: block;
  font-weight: 700;
}
.intro .text--sm + p {
  padding-top: 30px;
  line-height: 52px;
}
.intro .btn__start {
  margin-top: 100px;
}
.intro .btn__start span {
  animation: blink 1.5s infinite;
}

.game--rule {
  display: none;
  padding-top: 140px;
  text-align: center;
  line-height: 52px;
}
.game--rule h2,
.game--rule strong {
  color: #454545;
}
.game--rule h2 {
  padding-bottom: 30px;
}
.game--rule strong {
  display: block;
  padding-top: 30px;
}

.content__guide {
  display: none;
}
.content__guide .title {
  display: block;
  padding: 24px 50px;
  margin-bottom: 56px;
  background-color: #454545;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}
.content__guide .title p {
  display: block;
  padding: 0 !important;
}
.content__guide .title .text--orange {
  font-weight: 800;
}

.guide__wrap {
  padding: 0 38px 0 50px;
}
.guide__wrap > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 12px;
  width: 100%;
}
.guide__wrap > ul li {
  flex: 0 0 calc(25% - 12px);
}
.guide__wrap > ul li > img {
  display: block;
  background-color: #f7f7f7;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
}
.guide__wrap > ul p {
  height: 38px;
  margin-bottom: 7px;
  max-width: 330px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
.guide__wrap .btn__start1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  width: 100%;
  height: 100%;
}
.guide__wrap .btn__start1 span {
  position: relative;
  display: block;
}
.guide__wrap .btn__start1 span:before {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  right: 0;
  width: 53px;
  height: 30px;
  background: url(../images/quiz/ico_arrow.png) 100% 0;
  animation: arrow 1.5s infinite;
}

.quiz {
  max-width: 600px;
  margin: 0 auto;
}
.quiz__wrap {
  line-height: 1.2;
}
.quiz__wrap .title {
  position: relative;
  margin-bottom: 143px;
}
.quiz__wrap .title p {
  padding: 8px;
  font-size: 26px;
}
.quiz__wrap .title p:first-of-type {
  padding-right: 200px;
}
.quiz__wrap .title p:last-of-type {
  padding-left: 200px;
}
.quiz__wrap .title p:last-of-type .text--orange {
  padding-left: 20px;
}
.quiz__wrap .title .timer {
  font-size: 38px;
  text-align: center;
  font-optical-sizing: auto;
  transform: translateY(-100%);
}
.quiz__wrap .title .timer__wrap {
  position: absolute;
  left: calc((100% - 168px) / 2);
  bottom: -90px;
  width: 168px;
  height: 168px;
  line-height: 168px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #87888c;
  overflow: hidden;
}
.quiz__wrap .title .timer__wrap .wave_ani__wrap {
  width: 168px;
  height: 168px;
  background-color: #feb95a;
  animation: bgMove 47s linear forwards;
}
.quiz__wrap .title .timer__wrap .wave_ani__wrap .waves {
  transform: translateY(-300%);
}
.quiz__wrap .title .water_drop__ani {
  position: absolute;
  left: 50%;
  top: 268%;
  z-index: -1;
  display: flex;
  width: 80px;
  height: 80px;
  padding-left: 25px;
  /* background-color: rgba(0,0,0,0.2); */
  overflow: hidden;
  transform: rotateZ(-32deg);
}
.quiz__wrap .title .water_drop__ani span {
  display: block;
  background: url("../images/quiz/img_water.png") no-repeat left top/100%;
  transform: rotateZ(32deg) translate(0, -110%);
}
.quiz__wrap .title .water_drop__ani .water_drop1 {
  width: 10px;
  height: 16.5px;
  animation: waterDropAni 1.5s ease-in-out infinite;
}
.quiz__wrap .title .water_drop__ani .water_drop2 {
  width: 15px;
  height: 22.5px;
  animation: waterDropAni 1.5s ease-in-out 0.5s infinite;
  margin-left: 3px;
}
.quiz__wrap .title .water_drop__ani .water_drop3 {
  width: 13px;
  height: 19.5px;
  animation: waterDropAni 1.5s ease-in-out 0.2s infinite;
  margin-left: 10px;
}
.quiz .question {
  height: 97px;
  padding-bottom: 20px;
}
.quiz img {
  display: block;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.quiz .btn__wrap {
  padding-top: 40px;
  text-align: center;
}
.quiz .btn__wrap .btn {
  width: 157px;
  padding: 15px 0;
  background-color: #454545;
  line-height: 1;
  color: #fff;
  border-radius: 12px;
}
.quiz .num {
  font-weight: 300;
}
.quiz .num .count {
  font-weight: 700;
}

.popup {
  display: none;
  position: absolute;
  top: 300px;
  left: 50%;
  width: 600px;
  min-height: 493px;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9490196078);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.popup.active {
  display: block;
}
.popup__inner {
  padding: 50px 40px 30px;
  text-align: center;
  line-height: 1.2;
}
.popup__inner .msg {
  padding-bottom: 40px;
}
.popup.fail .result {
  padding-bottom: 30px;
  font-size: 26px;
  font-weight: 400;
}
.popup.fail .result strong {
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.popup.fail .msg span {
  text-decoration: underline;
}
.popup.success .result {
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.popup.success .result strong {
  display: block;
  font-size: 42px;
  font-weight: 700;
}
.popup.success .score__wrap {
  padding-bottom: 60px;
}
.popup.success .msg {
  padding-bottom: 110px;
}

.tip__wrap {
  padding-top: 25px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.tip__wrap span {
  display: block;
}

.quiz__wrap .title .timer__wrap .wave_ani__wrap use {
  width: 168px;
  height: 168px;
  animation: waveAni 3s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  position: absolute;
  left: 0;
  top: 0;
}/*# sourceMappingURL=quiz.css.map */